<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
  	<%= user.email %>
  </td>
  <td>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "よろしいですか?" } %>
    <% end %>
  </td>
</tr>